<form method="POST" class="max-w-lg bg-white/3 flex flex col p-4 mt-5 justify-center items-center rounded-xl gap-2">
    <input type="text" name="title" placeholder="Ingrese tarea.." required class="p-4" />
    <button type= "submit" class="px-5 py-3 rounded-lg border-1 border-white/20 font-normal hover:bg-white/3 transition-all">Crear</button>
</form>
